.input-form {
    margin: 20px;
}

textarea {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
}

button.reset {
    background-color: #f44336;
    color: white;
    border: none;
}

button.recommend {
    background-color: #4acf50;
    color: white;
    border: none;
}

.recommendations{
    margin-top: 20px;
}

.recommendation{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

